In [1]:
import pandas as pd

In [11]:
import numpy as np
import ast

In [12]:
df=pd.read_excel('melt_to_onre.xlsx')

In [13]:
# df_exploded.to_excel('try.xlsx')

In [14]:
df = df.replace({'\[\[': '[', '\]\]': ']'}, regex=True)

In [15]:
# list_columns = [
#     'description', 'qty', 'qq_title', 'qq_sku', 'supplier_url', 'supplier', 
#     'cost_price', 'rate', 'discount', 'discount_type', 'inwFreight', 'final_price'
# ]
# # Function to explode the specified columns
# def explode_columns(df, list_columns):
#     idx_columns = df.columns.difference(list_columns)
#     df_exploded = df[list_columns].apply(lambda x: x.apply(pd.Series).stack()).reset_index(level=1, drop=True).reset_index()
#     df_exploded = df_exploded.join(df[idx_columns], on='index').drop(columns='index')
#     return df_exploded

# # Explode the DataFrame
# df_exploded = explode_columns(df, list_columns)

# # Display the resulting DataFrame
# print(df_exploded)

In [17]:
def str_to_list(val):
    if pd.isna(val):
        return []
    if isinstance(val, list):
        return [ast.literal_eval(item) for item in val]
    return ast.literal_eval(val)
list_columns = [
    'description', 'qty', 'qq_title', 'qq_sku', 'supplier_url', 'supplier', 
    'cost_price', 'rate', 'discount', 'discount_type', 'inwFreight', 'final_price'
]
for col in list_columns:
    df[col] = df[col].apply(str_to_list)

# Function to explode the specified columns
def explode_columns(df, list_columns):
    idx_columns = df.columns.difference(list_columns)
    df_exploded = df[list_columns].apply(lambda x: x.apply(pd.Series).stack()).reset_index(level=1, drop=True).reset_index()
    df_exploded = df_exploded.join(df[idx_columns], on='index').drop(columns='index')
    return df_exploded

# Explode the DataFrame
df_exploded = explode_columns(df, list_columns)

# Display the resulting DataFrame
print(df_exploded)

     description qty                                           qq_title  \
0                  1  HELICOIL 5401-04 Thread Repair Kit, UNC, 4-40 ...
1                  1  ZURN QH7 Plastic Clamp Single 2.25 Inch Depth ...
2                  1  HELICOIL 5401-04 Thread Repair Kit, UNC, 4-40 ...
3                  1             KIMBLE CHASE 123456 Hybrid | QQ-A11111
4                  1  ALLEGRO SAFETY 9500-25EX Statically Conductive...
...          ...  ..                                                ...
6676               1  PARKER 1\/2 DD-B 90 Deg. Elbow, Brass, 1\/2 In...
6677               1  PARKER 1\/2 DD-B 90 Deg. Elbow, Brass, 1\/2 In...
6678               1  PARKER 1\/2 DD-B 90 Deg. Elbow, Brass, 1\/2 In...
6679               1  ZURN QH7 Plastic Clamp Single 2.25 Inch Depth ...
6680               1       VOLLRATH RT100-AQ VOLLRATH RT100-AQ | AW6WCR

         qq_sku                                       supplier_url  supplier  \
0        CH3XPZ                                                NaN       NaN
1        AF9YML                                                NaN       NaN
2        CH3XPZ                                                NaN       NaN
3     QQ-A11111                                                NaN       NaN
4        AD2GEM                                                NaN       NaN
...         ...                                                ...       ...
6676     CT7EAV  https:\/\/www.grainger.com\/product\/PARKER-90...  GRAINGER
6677     CT7EAV  https:\/\/www.grainger.com\/product\/PARKER-90...  GRAINGER
6678     CT7EAV  https:\/\/www.grainger.com\/product\/PARKER-90...  GRAINGER
6679     AF9YML                                   WWW.GRAINGER.COM  GRAINGER
6680     AW6WCR                                   WWW.GRAINGER.COM  GRAINGER

     cost_price    rate discount discount_type  ... quoting_margin  \
0           NaN      10        0             %  ...            NaN
1           NaN    4.00        0             %  ...            NaN
2           NaN  215.40        0             %  ...            NaN
3           NaN     123        0             %  ...            NaN
4           NaN      10        0             %  ...            NaN
...         ...     ...      ...           ...  ...            ...
6676      35.95      45        0           DKK  ...           25.0
6677      35.99   43.19        0           CHF  ...           25.0
6678      35.99   47.91        0             %  ...           25.0
6679         12   24.64        0             %  ...           25.0
6680      12.89   29.58        0             %  ...           25.0

     shipping_amount  shipping_country   status sub_total tax_type  tax_value  \
0                 30                GB  Ordered     10.00  VAT 20%       8.00
1                  1                GB  Ordered      4.00  VAT 20%       1.00
2                 25                GB  Ordered    338.40      NaN       0.00
3                 25                GB  Ordered    338.40      NaN       0.00
4               0.00                AT  Ordered     10.00   GST 9%       0.90
...              ...               ...      ...       ...      ...        ...
6676           19.99                SG  Ordered     45.00   GST 9%       6.00
6677           19.99                SG   Active     43.19   GST 9%       5.69
6678           19.99                SG  Ordered    102.13   GST 9%      10.99
6679           19.99                SG  Ordered    102.13   GST 9%      10.99
6680           19.99                SG  Ordered    102.13   GST 9%      10.99

                                                    tnc  \
0     Freight Incoterms :DDP UK ~|Lead time :7-11 Da...
1     Freight Incoterms :DDP UK ~|Lead time :7-11 Da...
2     Freight Incoterms :DDP UK~|Lead time :06-08 Da...
3     Freight Incoterms :DDP UK~|Lead time :06-08 Da...
4     Freight Incoterms :uhuhuil~|Lead time :nuujnuj...
...                                                 ...
6676  Freight Incoterms:DDP SINGAPORE~|Lead time:05-...
6677  Freight Incoterms:DDP SINGAPORE~|Lead time:05-...
6678  Freight Incoterms:DDP SINGAPORE~|Lead time:05-...
6679  Freight Incoterms:DDP SINGAPORE~|Lead time:05-...
6680  Freight Incoterms:DDP SINGAPORE~|Lead time:05-...

                      tnc_addon          valid_until
0                           NaN  2024-10-19 00:00:00
1                           NaN  2024-10-15 00:00:00
2                           NaN  2024-10-07 00:00:00
3                           NaN  2024-10-07 00:00:00
4                           NaN  2024-10-21 00:00:00
...                         ...                  ...
6676                        NaN  2024-08-17 00:00:00
6677                        NaN  2024-08-17 00:00:00
6678  TEsting more t and c area  2024-08-20 00:00:00
6679  TEsting more t and c area  2024-08-20 00:00:00
6680  TEsting more t and c area  2024-08-20 00:00:00

[6681 rows x 42 columns]

In [19]:
df_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6681 entries, 0 to 6680
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          6681 non-null   object
 1   qty                  6681 non-null   object
 2   qq_title             6681 non-null   object
 3   qq_sku               6681 non-null   object
 4   supplier_url         2661 non-null   object
 5   supplier             2661 non-null   object
 6   cost_price           2661 non-null   object
 7   rate                 6681 non-null   object
 8   discount             6681 non-null   object
 9   discount_type        6681 non-null   object
 10  inwFreight           26 non-null     object
 11  final_price          6681 non-null   object
 12  Unnamed: 0           6681 non-null   int64
 13  currency_conversion  54 non-null     float64
 14  customer_notes       873 non-null    object
 15  entity               6681 non-null   object
 16  final_amount         6681 non-null   float64
 17  freight_type         2668 non-null   object
 18  id                   6681 non-null   int64
 19  lead_id              2647 non-null   float64
 20  lead_url             2667 non-null   object
 21  order_successfully   6681 non-null   int64
 22  qq_created_at        6681 non-null   datetime64[ns]
 23  qq_currency          6681 non-null   object
 24  qq_date              6681 non-null   datetime64[ns]
 25  qq_email             6681 non-null   object
 26  qq_id                6681 non-null   object
 27  qq_update_at         6681 non-null   datetime64[ns]
 28  quote_value_bracket  5540 non-null   float64
 29  quoter               6681 non-null   object
 30  quoter_email         6681 non-null   object
 31  quoter_team          2620 non-null   object
 32  quoting_margin       2659 non-null   float64
 33  shipping_amount      6681 non-null   object
 34  shipping_country     6679 non-null   object
 35  status               6681 non-null   object
 36  sub_total            6681 non-null   float64
 37  tax_type             3576 non-null   object
 38  tax_value            6681 non-null   float64
 39  tnc                  6681 non-null   object
 40  tnc_addon            3 non-null      object
 41  valid_until          6681 non-null   object
dtypes: datetime64[ns](3), float64(7), int64(3), object(29)
memory usage: 2.1+ MB

In [18]:
new_column_order = [
    'id', 'qq_id', 'qq_email', 'quoter_email', 'qq_date', 'quoter', 'quoting_margin', 
    'quoter_team', 'valid_until', 'entity', 'qq_currency', 'description', 'qty', 
    'qq_title', 'qq_sku', 'supplier_url', 'supplier', 'cost_price', 'rate', 
    'discount', 'discount_type', 'inwFreight', 'final_price', 'customer_notes', 
    'shipping_amount', 'tax_value', 'tax_type', 'tnc', 'sub_total', 'status', 
    'shipping_country', 'order_successfully', 'final_amount', 'quote_value_bracket', 
    'lead_url', 'lead_id', 'currency_conversion', 'freight_type', 'tnc_addon', 
    'qq_update_at', 'qq_created_at', 'non_list_column'
]

# Ensure all new columns exist in the DataFrame
for col in new_column_order:
    if col not in df_exploded.columns:
        df_exploded[col] = None

# Reorder the DataFrame columns
df_reordered = df_exploded[new_column_order]

# Display the resulting DataFrame
print(df_reordered)

        id         qq_id                       qq_email  \
0        1  VC-QQ-A1A1A1            zlea@drumgrange.com
1        2  VC-QQ-A1A1A2      hemesh@raptorsupplies.com
2        3  DB-QQ-A1A1A3             debh1510@gmail.com
3        3  DB-QQ-A1A1A3             debh1510@gmail.com
4        4  AK-QQ-A1A1A4         huvyuvygyu@ghgvyhgbuyh
...    ...           ...                            ...
6676  5521  HP-QQ-A1C6M8  sales2@advanced-marine.com.sg
6677  5522  HP-QQ-A1C6M9  sales2@advanced-marine.com.sg
6678  5523  HP-QQ-A1C6N1  sales2@advanced-marine.com.sg
6679  5523  HP-QQ-A1C6N1  sales2@advanced-marine.com.sg
6680  5523  HP-QQ-A1C6N1  sales2@advanced-marine.com.sg

                      quoter_email    qq_date     quoter  quoting_margin  \
0        viresh@raptorsupplies.com 2024-04-10     Viresh             NaN
1        viresh@raptorsupplies.com 2024-04-10     Viresh             NaN
2     deepanshu@raptorsupplies.com 2024-04-10  deepanshu             NaN
3     deepanshu@raptorsupplies.com 2024-04-10  deepanshu             NaN
4        akshay@raptorsupplies.com 2024-04-10     Akshay             NaN
...                            ...        ...        ...             ...
6676     hemesh@raptorsupplies.com 2024-06-12     hemesh            25.0
6677     hemesh@raptorsupplies.com 2024-06-12     hemesh            25.0
6678     hemesh@raptorsupplies.com 2024-06-12     hemesh            25.0
6679     hemesh@raptorsupplies.com 2024-06-12     hemesh            25.0
6680     hemesh@raptorsupplies.com 2024-06-12     hemesh            25.0

              quoter_team          valid_until entity  ... final_amount  \
0                     NaN  2024-10-19 00:00:00     UK  ...        48.00
1                     NaN  2024-10-15 00:00:00     AU  ...         6.00
2                     NaN  2024-10-07 00:00:00     UK  ...       363.40
3                     NaN  2024-10-07 00:00:00     UK  ...       363.40
4                     NaN  2024-10-21 00:00:00     SG  ...        10.90
...                   ...                  ...    ...  ...          ...
6676  Team_Abhishek/Kirti  2024-08-17 00:00:00     NL  ...        71.00
6677  Team_Abhishek/Kirti  2024-08-17 00:00:00     NL  ...        68.87
6678  Team_Abhishek/Kirti  2024-08-20 00:00:00     UK  ...       133.11
6679  Team_Abhishek/Kirti  2024-08-20 00:00:00     UK  ...       133.11
6680  Team_Abhishek/Kirti  2024-08-20 00:00:00     UK  ...       133.11

     quote_value_bracket                                           lead_url  \
0                    NaN                                                NaN
1                    NaN                                                NaN
2                    NaN                                                NaN
3                    NaN                                                NaN
4                    NaN                                                NaN
...                  ...                                                ...
6676                5.13  https://crm.zoho.com/crm/org696664214/tab/Pote...
6677               37.91  https://crm.zoho.com/crm/org696664214/tab/Pote...
6678              102.13  https://crm.zoho.com/crm/org696664214/tab/Pote...
6679              102.13  https://crm.zoho.com/crm/org696664214/tab/Pote...
6680              102.13  https://crm.zoho.com/crm/org696664214/tab/Pote...

           lead_id currency_conversion freight_type  \
0              NaN                 NaN          NaN
1              NaN                 NaN          NaN
2              NaN                 NaN          NaN
3              NaN                 NaN          NaN
4              NaN                 NaN          NaN
...            ...                 ...          ...
6676  4.198065e+18                6.93  Air Freight
6677  4.198065e+18                0.90  Air Freight
6678  4.198065e+18                0.79  Air Freight
6679  4.198065e+18                0.79  Air Freight
6680  4.198065e+18                0.79  Air Freight

                      tnc_addon        qq_update_at       qq_created_at  \
0                           NaN 2024-04-22 06:09:50 2024-04-10 14:25:09
1                           NaN 2024-04-18 11:58:46 2024-04-10 14:34:18
2                           NaN 2024-04-11 08:20:05 2024-04-10 14:35:38
3                           NaN 2024-04-11 08:20:05 2024-04-10 14:35:38
4                           NaN 2024-04-24 06:36:36 2024-04-10 15:24:01
...                         ...                 ...                 ...
6676                        NaN 2024-06-18 10:14:32 2024-06-18 09:56:07
6677                        NaN 2024-06-18 10:20:44 2024-06-18 10:20:16
6678  TEsting more t and c area 2024-06-21 09:43:57 2024-06-18 11:54:50
6679  TEsting more t and c area 2024-06-21 09:43:57 2024-06-18 11:54:50
6680  TEsting more t and c area 2024-06-21 09:43:57 2024-06-18 11:54:50

     non_list_column
0               None
1               None
2               None
3               None
4               None
...              ...
6676            None
6677            None
6678            None
6679            None
6680            None

[6681 rows x 42 columns]